.poker-search-page {

  .search-header {
    margin-top: -4px;
    margin-bottom: 16px;
    background-color: #ffc107;
    padding: 8px 8px 8px 8px ;

    ::ng-deep .mat-form-field-appearance-fill.mat-form-field-flex {
      background-color: rgba(255, 255, 255, 0.4);
    }

    .search-field {
      background-color: rgba(255, 255, 255, 0.4);
      border-radius: 8px;
      display: flex;
      align-items: center;
      padding: 4px 8px;

      input {
        flex: 1;
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 20px;
        padding: 4px 8px;
      }

      mat-icon {
        color: black;
      }
    }
  }

  .poker-actions {
    position: absolute;
    bottom: 24px;
    right: 24px;
  }
}
