<div class="profile-banner" fxLayout="row" fxLayoutGap="24px" *ngIf="user$ | async as user">

  <div class="profile-photo">
    <img mat-card-avatar class="pictureUrl" [src]="user.pictureUrl" alt="my profile picture">
  </div>
  <div class="profile-infos">
    <h2 class="profile-name"> {{ user.displayName || user.email }} </h2>
    <h4 class="profile-email" *ngIf="user.displayName">
      {{ user.email }}
    </h4>
  </div>
  <div class="profile-actions" fxFlexAlign="flex-end">
    <button mat-button (click)="signout.emit()" aria-label="Sign out">Sign out</button>
  </div>

  <button mat-icon-button [routerLink]="['/settings']" class="settings-btn" aria-label="Go to settings page">
    <mat-icon>tune</mat-icon>
  </button>

</div>
