@import '~@angular/material/theming';

@mixin app-alert-theme($theme) {
  $warn: map-get($theme, warn);

  .alert {
    background-color: mat-color($warn);
  }

  .actions {

    .confirm-btn {
      color: mat-color($warn);
    }
  }
}
