@import '~@angular/material/theming';

@mixin app-alert-theme($theme) {
  $warn: map-get($theme, warn);
  $accent: map-get($theme, accent);

  .alert {
    background-color: mat-color($warn);
  }

  .info {
    background-color: mat-color($accent);
  }

  .actions {

    .confirm-btn {
      color: mat-color($warn);
    }
  }
}
