<div class="alert {{type}}" fxLayout="row" fxLayoutGap="16px">
  <mat-icon class="icon">{{ icon }}</mat-icon>
  <div class="message" fxFlex>
    <h3>{{ title }}</h3>
    <h5>{{ text }} <ng-content></ng-content> </h5>
  </div>
  <div class="actions" *ngIf="type == 'confirm'">
    <a class="cancel-btn" (click)="closeAlert.emit()">Cancel</a>
    <button mat-flat-button class="confirm-btn" (click)="submitAlert.emit()" aria-label="submit">SUBMIT</button>
  </div>
  <button mat-icon-button *ngIf="hasClose" aria-label="close"
          (click)="closeAlert.emit()">
    <mat-icon>close</mat-icon>
  </button>
</div>
