.signin-form {

  mat-form-field {
    width: 100%;
  }

  button {
    margin: 12px 0;
  }

  button, a {
    display: block;
    width: 100%;
    text-align: center;
    cursor: pointer;
  }

  .login-opts {
    margin-bottom: 32px;
  }

  .forgot-link {
    text-align: right;
  }
}
