<div class="signin-form">
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required>
      <mat-icon matSuffix>mail</mat-icon>
      <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput [type]="hidePasswd ? 'password' : 'text'" formControlName="password" required>
      <mat-icon matSuffix (click)="hidePasswd = !hidePasswd">{{hidePasswd ? 'visibility_off' : 'visibility'}}</mat-icon>
    </mat-form-field>

    <div class="login-opts" fxLayout="row">
      <mat-checkbox formControlName="rememberMe">Remember me</mat-checkbox>
      <a class="forgot-link" (click)="resetPassword()">I forgot my password</a>
    </div>

    <mat-card class="error-card" *ngIf="error">
      {{error}}
    </mat-card>

    <button mat-flat-button type="submit" color="primary" [disabled]="signinForm.invalid || isPending">
      NEXT
    </button>
    <a routerLink="/signup" class="signup">Sign up</a>
  </form>
</div>
