<div class="forgot-form">
  <form [formGroup]="forgotForm" (ngSubmit)="submit()">

    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" required aria-label="email">
      <mat-icon matSuffix>mail</mat-icon>
      <mat-error *ngIf="emailCtrl.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>

    <button mat-flat-button type="submit" color="primary" aria-label="recover password"
            [disabled]="forgotForm.invalid || isPending">
      RECOVER
    </button>
    <a class="signup" (click)="signin()">No. I remember it now!</a>

  </form>
</div>
