.pokin-footer {
  background-color: #424242;
  color: white;
  padding: 0 24px;
  margin-top: 32px;

  .app {
    text-align: center;
  }

  .community {
    padding: 16px;

    a {
      display: flex;
      align-items: center;
    }

    .octicon {
      fill: white;
      margin-left: 16px;
    }
  }
}
