<header>
  <mat-toolbar color="primary" class="top-menu">
    <button mat-icon-button *ngIf="(isHome$ | async) === false"
            aria-label="Go back"
            routerLink="/pokers">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="page-title">{{ pageTitle | uppercase }}</span>

    <ng-container *ngComponentOutlet="toolbarComponent"></ng-container>

    <button mat-icon-button *ngIf="!isAuthenticated"
            aria-label="Sign in"
            routerLink="/signin">
      <mat-icon>fingerprint</mat-icon>
    </button>

    <button class="avatar" *ngIf="isAuthenticated && user$ | async as user"
            aria-label="Show my profile"
            (click)="showProfileMenu()">
      <img [src]="user.pictureUrl" alt="my profile picture">
    </button>

  </mat-toolbar>
</header>

<app-banner [(opened)]="showProfile" mode="over">
    <app-profile-banner (signout)="signout()">
    </app-profile-banner>
</app-banner>

<app-banner-outlet></app-banner-outlet>

<mat-progress-bar mode="indeterminate" color="accent"
                  class="operation-indicator" [class.pending]="isLoading$ | async">
</mat-progress-bar>
