@import '~@angular/material/theming';

@mixin app-banner-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .banner-content {
    background: mat-color($background, dialog);
    color: mat-color($foreground, text);
  }
}
